<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <%= require('raw-loader!./inline/meta.html').default %>
    <script>
      <%= require('raw-loader!./inline/meta.js').default %>
    </script>
    <title><%= title%></title>
  </head>
  <body>
    <div id="app">
      <div class="inner_app">appA</div>
    </div>
  </body>
</html>
