/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/appA/test.scss ***!
  \***********************************************************************************************************************************************************************************/
#app .inner_app {
  color: #fff000;
  font-weight: 600;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}
