/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/appA/index.css ***!
  \********************************************************************************************************************************************/
#app{
  height: 100px;
  width: 100px;
  background: url(03f1603e9f93d396cb04.jpeg) no-repeat center;
  background-size: 100% 100%;
  -webkit-transform: translate(0.0);
          transform: translate(0.0);
}
